@model IEnumerable<FinancasNaMaoMVC.Models.Lancamento>
@using System.Security.Claims;
@using Microsoft.AspNetCore.Identity
@using FinancasNaMaoMVC.Areas.Identity.Data
@inject UserManager<Usuario> UserManager

@{
    ClaimsPrincipal currentUser = this.User;
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorReservado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isFixo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Obs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Natureza)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            if (item.UsuarioId == UserManager.GetUserId(User))
            {
                <tr>
                    <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorReservado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isFixo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Obs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Natureza)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
        }
}
    </tbody>
</table>
