@model IEnumerable<FinancasNaMaoMVC.Models.Provento>
@using System.Security.Claims;
@using Microsoft.AspNetCore.Identity
@using FinancasNaMaoMVC.Areas.Identity.Data
@inject UserManager<Usuario> UserManager
@{
    ClaimsPrincipal currentUser = this.User;
    string userId = UserManager.GetUserId(this.User);
    Usuario user = await UserManager.FindByIdAsync(userId);
    decimal? saldoCorrente = 0;
    decimal? saldoPoupanca = 0;

    if (user != null) {
         saldoCorrente = user.Corrente;
         saldoPoupanca = user.Poupanca;
    }

    ViewData["Title"] = "IndexProvento";
    Layout = "~/Views/Shared/_Layout.cshtml";

        }

        <h1 style="width: 100%; text-align: center; margin: 0 auto; margin-top: 40px; margin-bottom: 50px; color: #a6a6a6;">Meus proventos</h1>



        <style>

            .pb-3 {
                margin-top: 70px;
            }

            .btn-hover {
                transition: ease 0.5s;
                color: white;
                padding: 10px 60px;
                background: linear-gradient(90deg, #5EC57E, #319C58);
                border-radius: 4px;
                border: none;
                text-align: center;
                font-weight: 600;
            }

                .btn-hover :hover {
                    background: linear-gradient(90deg, #319C58, #5EC57E);
                    border: none;
                    color: white;
                    font-weight: 600;
                }

            .btn-hover2 {
                transition: ease 0.5s;
                color: #ebe7d4;
                padding: 10px 60px;
                background-color: #5ec57e;
                border-radius: 12px;
                border: 2px solid #5ec57e;
                text-align: center;
                font-weight: 600;
                font-size: 14px;
                margin-top: 60px;
            }

                .btn-hover2 :hover {
                    background-color: #ebe7d4;
                    border: 1px solid #60886e;
                    color: #60886e;
                }

            main {
                background-color: white;
                padding: 5px;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                animation: fade-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            }



            th {
                text-align: center;
                
            }
            td{
                text-align: center;
                font-weight: 700;
            }
           

        </style>




        @if (Model.Count() > 0)
{
        <div style="display: flex; justify-content: space-around; align-content: center;">
            <div style="width: 45%;">
                <div style="max-height: 200px; overflow-y: scroll;">

                <table class="table" style="background-color: white; width: 100%; max-height: 300px; overflow-y: scroll;">
                    <thead>
                        <tr>
                            <th style="background-color: #3fb46a; color: white; font-weight: 700; padding: 12px 8px; border-radius: 4px 0 0 0 ; ">
                                @Html.DisplayNameFor(model => model.Nome)
                            </th>
                            <th style="background-color: #5ec57e; color: white; font-weight: 700; padding: 12px 8px; ">
                                @Html.DisplayNameFor(model => model.Valor)
                            </th>


                            <th style="background-color: #3fb46a; color: white; font-weight: 700; padding: 12px 8px;">
                                @Html.DisplayNameFor(model => model.Natureza)
                            </th>

                            <th style="background-color: #5ec57e; color: white; font-weight: 700; padding: 12px 8px; border-radius: 0 4px 0 0 " > Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                       

                        @foreach (var item in Model)
            {
                        <tr>
                            <td >
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Valor)
                            </td>





                            <td>
                                @Html.DisplayFor(modelItem => item.Natureza)
                            </td>
                            <td>
                                <a asp-action="EditProvento" asp-route-id="@item.ID"><svg style="margin-top: -8px" width="30px" height="34px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M21.1213 2.70705C19.9497 1.53548 18.0503 1.53547 16.8787 2.70705L15.1989 4.38685L7.29289 12.2928C7.16473 12.421 7.07382 12.5816 7.02986 12.7574L6.02986 16.7574C5.94466 17.0982 6.04451 17.4587 6.29289 17.707C6.54127 17.9554 6.90176 18.0553 7.24254 17.9701L11.2425 16.9701C11.4184 16.9261 11.5789 16.8352 11.7071 16.707L19.5556 8.85857L21.2929 7.12126C22.4645 5.94969 22.4645 4.05019 21.2929 2.87862L21.1213 2.70705ZM18.2929 4.12126C18.6834 3.73074 19.3166 3.73074 19.7071 4.12126L19.8787 4.29283C20.2692 4.68336 20.2692 5.31653 19.8787 5.70705L18.8622 6.72357L17.3068 5.10738L18.2929 4.12126ZM15.8923 6.52185L17.4477 8.13804L10.4888 15.097L8.37437 15.6256L8.90296 13.5112L15.8923 6.52185ZM4 7.99994C4 7.44766 4.44772 6.99994 5 6.99994H10C10.5523 6.99994 11 6.55223 11 5.99994C11 5.44766 10.5523 4.99994 10 4.99994H5C3.34315 4.99994 2 6.34309 2 7.99994V18.9999C2 20.6568 3.34315 21.9999 5 21.9999H16C17.6569 21.9999 19 20.6568 19 18.9999V13.9999C19 13.4477 18.5523 12.9999 18 12.9999C17.4477 12.9999 17 13.4477 17 13.9999V18.9999C17 19.5522 16.5523 19.9999 16 19.9999H5C4.44772 19.9999 4 19.5522 4 18.9999V7.99994Z" fill="#ffb22e"></path> </g></svg></a> |
                                <a asp-action="DetailsProvento" asp-route-id="@item.ID"><svg style="margin-top: -8px" width="24px" height="28px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M9.29289 1.29289C9.48043 1.10536 9.73478 1 10 1H18C19.6569 1 21 2.34315 21 4V8C21 8.55228 20.5523 9 20 9C19.4477 9 19 8.55228 19 8V4C19 3.44772 18.5523 3 18 3H11V8C11 8.55228 10.5523 9 10 9H5V20C5 20.5523 5.44772 21 6 21H10C10.5523 21 11 21.4477 11 22C11 22.5523 10.5523 23 10 23H6C4.34315 23 3 21.6569 3 20V8C3 7.73478 3.10536 7.48043 3.29289 7.29289L9.29289 1.29289ZM6.41421 7H9V4.41421L6.41421 7ZM20.1716 18.7574C20.6951 17.967 21 17.0191 21 16C21 13.2386 18.7614 11 16 11C13.2386 11 11 13.2386 11 16C11 18.7614 13.2386 21 16 21C17.0191 21 17.967 20.6951 18.7574 20.1716L21.2929 22.7071C21.6834 23.0976 22.3166 23.0976 22.7071 22.7071C23.0976 22.3166 23.0976 21.6834 22.7071 21.2929L20.1716 18.7574ZM13 16C13 14.3431 14.3431 13 16 13C17.6569 13 19 14.3431 19 16C19 17.6569 17.6569 19 16 19C14.3431 19 13 17.6569 13 16Z" fill="#2e449e"></path> </g></svg></a> |
                                <a asp-action="DeleteProvento" asp-route-id="@item.ID"><svg style="margin-top: -8px" width="28px" height="32px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M6 7V18C6 19.1046 6.89543 20 8 20H16C17.1046 20 18 19.1046 18 18V7M6 7H5M6 7H8M18 7H19M18 7H16M10 11V16M14 11V16M8 7V5C8 3.89543 8.89543 3 10 3H14C15.1046 3 16 3.89543 16 5V7M8 7H16" stroke="#b70606" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg></a>
                            </td>
                        </tr>
            }

                    </tbody>

                </table>
                </div>
                @if (Model.Count() > 0)
{
                <p style="width: 100%; text-align: center; justify-content: center; padding-top: 50px; ">
                    <a style=" padding: 10px 60px; text-align: center; font-weight: 700; " asp-action="CreateProvento" class="btn-hover2">Novo Provento</a>
                </p>

}

            </div>
            <div style="width: 45%; height: 100%">


                <div style="width: 100%; margin-top: 0px; border-bottom: 1px solid #DEE2E6; background: rgb(88,193,126); background: linear-gradient(90deg, rgba(88,193,126,1) 0%, rgba(51,148,87,1) 51%); display: flex; justify-content: center; align-items: center; flex-direction: column; padding-bottom: 12px; border-radius: 4px; ">
                    <h2 style="color: black; width: 100%; padding-bottom: 10px; padding-top: 5px; margin-top: -2px; margin-bottom: 13px; font-weight: 700; text-align: center; font-size: 20px; color: white;">Saldo</h2>
                    <div style="display: flex; width: 100%; justify-content: space-evenly; height: 100%; align-items: center; padding: 5px 0; margin-bottom: 15px;">
                        <h3 style="font-size: 20px; color: white; margin-right: 20px;">Conta corrente: </h3>
                        <h3 style="font-size: 20px; color: black; font-weight: 700; background-color: white; padding: 5px 40px; "> R$ @saldoCorrente.ToString()</h3>

                    </div>
                    <div style="display: flex; width: 100%; justify-content: space-evenly; height: 100%; align-items: center; padding: 12px 0">
                        <h3 style="font-size: 20px; color: white; margin-right: 20px;">Conta poupanca: </h3>
                        <h3 style="font-size: 20px; color: black; font-weight: 700; background-color: white; padding: 5px 40px; "> R$ @saldoPoupanca.ToString()</h3>

                    </div>

                </div>
                <p style="width: 100%; text-align: center; justify-content: center; padding-top: 64px; ">
                    <a style=" padding: 10px 60px; text-align: center; font-weight: 700;" asp-action="" class="btn-hover2">Gerar Receita</a>
                </p>
            </div>

        </div>
} else {
        <div class="container-despesa">
            <div class="noDespesa-ico-container" style="text-align: center; margin-bottom: -30px;">
                <svg width="200px" height="200px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 18C5.5 17.7239 5.72386 17.5 6 17.5H18C18.2761 17.5 18.5 17.7239 18.5 18C18.5 18.2761 18.2761 18.5 18 18.5H6C5.72386 18.5 5.5 18.2761 5.5 18Z" fill="#a6a6a6"></path> <rect x="6.5" y="11.5" width="3" height="7" rx="0.5" fill="#a6a6a6"></rect> <rect x="10.5" y="5.5" width="3" height="13" rx="0.5" fill="#a6a6a6"></rect> <rect x="14.5" y="8.5" width="3" height="10" rx="0.5" fill="#a6a6a6"></rect> </g></svg>
            </div>
            <div class="noDespesa-h3">
                <h3 style="color: #a6a6a6; font-size: 25px; text-align: center; margin-bottom: 30px;">Nenhum Provento</h3>
            </div>
            <div style="display: flex; justify-content: center;">
                <a asp-action="CreateProvento" class="btn-hover">
                    Incluir Provento
                </a>
            </div>
        </div>

}

